$primary900: #012a4a;
$primary800: #013A63;
$primary700: #01497C;
$primary600: #014F86;
$primary400: #2C7DA0;
$primary300: #468FAF;
$primary200: #61A5C2;
$primary100: #89C2D9;
$primary050: #A9D6E5;

$neutros900: #585D61;
$neutros050: #FCFFFF;