@use "@/styles/variables" as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 193px;
    max-height: 151px;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;

    h2 {
        font-weight: 700;
        font-size: 20px;
        white-space: nowrap; 
        color: $primary900;
    }

    p {
        font-weight: 500;
        font-size: 16px;
    }
}